

// Colours
$colour_text_on_main: #FFF;
$colour_text_on_main_light: #000;
$colour_main: #795548;
$colour_main_light: #D7CCC8;
$colour_main_dark: #5D4037;
$colour_contrast: #FF5722;
$colour_contrast_light: #ff7961;
$colour_contrast_dark: #212121;

$primary-color: $colour_main;

@import "spectre";

a {
  color: $colour_contrast;
}

h3 {
  font-size:2em;
}

main {
  > header {
    background-color:$colour_main;
    height:auto;
    position:relative;
    width:100%;
    color: $colour_text_on_main;
    a {
      color: $colour_text_on_main;
    }
    h1.header {
      margin-top:1em;
    }
    nav {
      margin-bottom:1em;
      ul {
        display:flex;
        flex-wrap: wrap; /* 2 */
        margin: -0.5em; /* 5 (edit me!) */
        padding:0;
        list-style-type:none;

        @media (max-width:35em){
          display:block;
        }

        & a:first-child, & li:first-child {
          margin-left:0;
        }
        li {
          flex: 1 0 5em; /* 3 (edit me!) */
          margin: 0.5em; /* 4 (edit me!) */
          @media (max-width:35em){
            display:block;
          }
          a {
            display:inline-block;
            width:100%;

          }
          display:inline-block;
          padding:0.2em;
          &:hover {
            background-color:$colour_main_light;
          }
          @media (max-width:35em){
            margin:0;
            padding:0.1em;
          }
        }
      }
    }
  }
}
  .large_banner_footer {
    background-color:$colour_main_light;
    color:$colour_text_on_main_light;
    width:100%;
    h2 {
      font-size:1.5em;
      a {
        color: $colour_main_dark;
      }
    }
  }
//
main > .container {
  margin-top:2em;

  p {
    font-size:1.1em;
  }

  .col > p:first-child {
    font-size:1.4em;
  }
  .card-panel {
    font-size:1.2em;

    h3 {
      font-size:1.3em;
    }
  }
  .card {
    margin:1em 0;
  }
  li {
    list-style:outside;
    margin-left:1em;
  }
}


footer {
  background-color:$colour_main;
  height:200px;
  color: $colour_text_on_main;
  padding-top:0.5em;
  margin-top:5em;
  a {
    color:$colour_contrast_dark;
  }
}
//
////@media #{$medium-and-down} {
////    nav .brand-logo {
////      font-size:1em;
////      left:0;
////      transform: none;
////    }
////}
