.icon {
  display:block;
  height:71px;
  width:94px;
  margin:0 auto;
}

.icon-maintains {
    background: asset_url("icons.png") -10px -10px;
}

.icon-adds {
    background: asset_url("icons.png") -10px -101px;
}

.icon-errors {
    background: asset_url("icons.png") -226px -10px;
}

.icon-pays {
    background: asset_url("icons.png") -124px -10px;
}
