<!doctype html>
<html lang="">
  {% include head.html %}
  <body>

    <main>
      <header class="navbar {% if site.title and site.title != page.title %}large_banner{% endif %}">
        <div class="container">
          <img src="{{ site.url }}{% asset ODI.png @path %}" id="odi-logo" alt="The ODI">
          <a href="{{ site.baseurl }}/">
            <span id="page-title">{{ site.title }}</span>
          </a>
          <nav>
            <button class="menu">Menu</button>
            <ul>
              <li><a href="{{ site.baseurl }}/list_properties">Talking about lists</a></li>
              <li><a href="{{ site.baseurl }}/governance_patterns">Register design patterns</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="{% if page.category == 'pattern' %}odi-purple{% elsif page.category == 'list-property' %}odi-turquoise{% else %}odi-red{% endif %}">
        <div class="container grid-md">
          <div class="row">
            <div class="col">
              <h1 class="header">
                {{page.title}}
              </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="large_banner_footer">
        <div class="container grid-md">
          <h2 class="header ">
            {% if page.item_name %}
            <a href="{{ site.baseurl }}/{{page.collection}}">{{ page.item_name }}</a>
            {% endif %}
          </h2>
        </div>
      </div>

      <div class="container grid-md">
        <div class="row">
          <div class="col">
            {{ content }}
          </div>
        </div>
      </div>
    </main>


    <footer>
      <div class="container  grid-md">
        <p><a href="https://theodi.org/"><img src="{{ site.url }}{% asset ODI.png @path %}" id="odi-logo" alt="The ODI"></a></p>

        <p><a href="https://github.com/democracyclub/register-design-patterns/blob/master/{{page.path}}">
            Edit this page on GitHub</a>.</p>
        <p>
          <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" rel="license">
            <img alt="Creative Commons Licence" height="15" src="//static.theodi.org/assets/cc-a23fe95f04508432c8d97c00b0a36254.png" width="80">
          </a>

        </p>
      </div>
    </footer>



    {% if site.google_analytics %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

    <script>
      var menu_button = document.querySelectorAll('header .menu')[0];
      var menu = document.querySelectorAll('header nav ul')[0];

      var isMenuActive = false;

      function ToggleClass(el, className) {
      if (el.classList) {
      el.classList.toggle(className);
      } else {
      var classes = el.className.split(' ');
      var existingIndex = -1;
      for (var i = classes.length; i--;) {
      if (classes[i] === className)
      existingIndex = i;
      }

      if (existingIndex >= 0)
      classes.splice(existingIndex, 1);
      else
      classes.push(className);

      el.className = classes.join(' ');
      }
      }

      function addEventListener(el, eventName, handler) {
      if (el.addEventListener) {
      el.addEventListener(eventName, handler);
      } else {
      el.attachEvent('on' + eventName, function(){
      handler.call(el);
      });
      }
      }

      function toggle_menu(e) {
      console.debug('called')
      ToggleClass(menu, 'menu-open')
      }


      addEventListener(menu_button, 'click', toggle_menu);





    </script>
  </body>

</html>
